.Backpack {
  background-color: #8b0000;
  order: 0;
  padding: 2% 5%;
  width: 40%;
}

.Backpack h2 {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 3%;
}

.Backpack img {
  background-color: #fff;
  border-radius: 5px;
  height: 35%;
  margin-top: 10%;
  width: 35%;
}

.Backpack li {
  list-style: none;
  margin: 10% 0;
  padding: 2%;
}

.Backpack li > div {
  border: 10px red solid;
  border-radius: 10px;
  margin-top: 10%;
  padding: 0 3%;
}

.hightlight {
  font-style: italic;
  margin-top: 10%;
}

.Backpack li > .hightlight {
  border: none;
}

.Backpack span,
.enhancement {
  border: #f00 solid 2.5px;
  padding: 3%;
}

.enhancement {
  border-radius: 10%;
  margin: 5% 15%;
}

.Backpack p > span {
  margin: 3%;
}

.Backpack span:hover,
.enhancement:hover {
  background-color: red;
  border: white solid 2.5px;
  cursor: pointer;
}
