.ItemList {
  padding-bottom: 2%;
}

.ItemList h2 {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  margin: 1% 30%;
  padding: 1% 0;
}

.ItemList li {
  font-size: 150%;
  font-weight: bold;
  list-style: none;
  padding: 2%;
}

.ItemList span {
  border-bottom: #8b0000 solid 2.5px;
  padding: 1% 3%;
}

.ItemList span:hover {
  cursor: pointer;
}
